<nav class="flex items-center justify-between px-12 py-6">
    <div>
        <a class="text-3xl font-bold" href="/">Site Home</a>
    </div>
    <div>
        <a class="font-bold text-blue-900" href="/blog">Blog</a>
        <a class="font-bold text-blue-900" href="/">About</a>
    </div>
</nav>